.climbarkContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.climbarkSummaryContainer {
  width: 890px;
  text-align: left;
  margin-top: 150px;
}

.climbarkSummaryContainer h1 {
  color: #c0e300;
  font-size: 35px;
}

.climbarkDescription1 {
  color: white;
  font-style: italic;
  font-weight: lighter;
  font-size: 18px;
  line-height: 30px;
}

.climbarkDescription2wrap {
  display: flex;
  justify-content: space-between;
}

.climbarkDescription2 {
  text-align: left;
  color: white;
  font-style: italic;
  font-weight: lighter;
  font-size: 18px;
  line-height: 25px;
}

.technologyUsed {
  width: 250px;
  height: 40px;
  margin-left: 100px;
  margin-top: 5px;
}

.pitchContainer {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-top: 40px;
}

h2 {
  text-align: center;
  color: #c0e300;
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
}

.climbarkTarget {
  width: 300px;
}

.climbarkTarget p {
  text-align: left;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
  line-height: 25px;
}

.climbarkPain {
  width: 300px;
}

.climbarkPain p {
  text-align: left;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
  line-height: 25px;
}

.climbarkSolution {
  width: 300px;
}

.climbarkSolution p {
  text-align: left;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
  line-height: 25px;
}

.arrowToOneForAll {
  margin-top: 0px;
}
.viewClimbarkCode {
  margin-top: 35px;
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
