.jobOracleDescription h1 {
  margin-top: 200px;
  color: #C0E300;
  font-size: 35px;
}

.jobOracleContainer {
  display: flex;
  justify-content: space-evenly;
}

.jobOracleDescription {
  text-align: left;
  width: 600px;
}

.jobOracleDescription p {
  text-align: left;
  color: white;
  font-style: italic;
  font-weight: lighter;
  font-size: 18px;
  line-height: 30px;
}

.technologyUsedJobOracle {
  width: 80px;
  height: 35px;
}

.videoContainer {
  margin-top: 200px;
}

.pressPlayPointer {
  width: 150px;
  vertical-align: bottom;
}

.arrowPointerToFigma {
  margin-top: 150px;
}

.pressPlayImg {
  margin-top: 200px;
  float: right;
}
