.arrow {
  width: 55px;
  height: 55px;
  animation: bounce 0.4s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
  cursor: pointer;
}

.arrowText {
  color: white;
  font-size: 18px;
  margin-top: 0px;
  cursor: pointer;
}

@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      transform: translate3d(0, 8px, 0);
  }
}
