.homeContainer{
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 20px;
}

.introductionContainerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.introductionContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 45px;
  width: 100%;
}

.greetings {
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin-bottom: -2px;
}

.myName {
  color: #C0E300;
}

.aboutMe {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.introductionSummary {
  color: white;
  font-style: italic;
  font-weight: light;
  line-height: 30px;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 30px;
}

.myPhoto {
  width: 37%;
  height: auto;
}

.introductionBody {
  width: 600px;
  text-align: left;
  margin-right: 50px;
}

.arrowToProject {
  margin-top: -20px;
}

.buttonAndViewPortfolio {
  display: flex;
  justify-content: space-between;
}

.buttonAndViewPortfolio p {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
