.homeContainer{
  margin-left: 40px;
  margin-right: 40px;
}

.introductionContainerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.introductionContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 45px;
  width: 100%;
}

.greetings {
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin-bottom: -10px;
}

.myName {
  color: #C0E300;
  margin-bottom: -10px;
}

.aboutMe {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.introductionSummary {
  color: white;
  font-style: italic;
  font-weight: light;
  line-height: 25px;
  font-weight: lighter;
  font-size: 13px;
}

.myPhoto {
  width: 38%;
  height: auto;
}

.introductionBody {
  width: 400px;
  text-align: left;
  margin-right: 50px;
}
