.phone {
  /* height: 500px;
  width: 50px; */
  /* scale: 0.5; */
}

iframe {
  -moz-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  -o-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
  -moz-transform-origin: top center;
  -webkit-transform-origin: top center;
  -o-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}
