.navbarContainer {
  display: flex;
  justify-content: space-between;
}

.socialLink {
  margin-top: 20px;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.directory p {
  float: left;
  font-size: 15px;
  color: white;
  padding-right: 40px;
}

.directory p:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #C0E300;
}
