.navbarContainer {
  margin-left: 8px;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.socialLink {
  margin-top: 20px;
  margin-right: 15px;
  height: 30px;
  width: 30px;
}

.directory p {
  float: left;
  font-size: 20px;
  color: white;
  padding-right: 40px;
}

.directory p:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #C0E300;
}
