body {
  margin: 0;

  font-family: "Fira Sans", sans-serif;
  font-family: "Frank Ruhl Libre", serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: 'Source Code Pro', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
