.figmaContainer {
  display: flex;
  justify-content: space-evenly;
}

.maternitySide {
  display: block;
  max-width: 600px;
}

.climbarkPrototype {
  margin-top: 20px;
  width: 500px;
  height: 380px;
}

.maternityPrototype {
  margin-top: 300px;
  width: 550px;
  height: 380px;
}

.climbarkPrototypePointer {
  margin-top: 50px;
  width: 200px;
  display: block;
}

.maternityPrototypePointer {
  width: 320px;
  float: left;
}
