.figmaContainer {
  display: flex;
  justify-content: space-evenly;
}

.maternitySide {
  display: block;
  max-width: 600px;
}

.climbarkPrototype {
  margin-top: 20px;
  width: 490px;
  height: 360px;
}

.maternityPrototype {
  margin-top: 80px;
  width: 550px;
  height: 380px;
}

.climbarkPrototypePointer {
  margin-top: 150px;
  width: 200px;
  display: block;
}

.maternityPrototypePointer {
  width: 320px;
  float: left;
}

.arrowToTop {
  margin-top: 50px;
}
