.figmaContainer {
  display: flex;
  justify-content: space-around;
}

.climbarkPrototype {
  width: 400px;
  height: 300px;
}

.maternityPrototype {
  width: 400px;
  height: 300px;
}

.climbarkPrototypePointer {
  scale: 60%;
  float: left;
}

.maternityPrototypePointer {
  scale: 60%;
  float: left;
}
